[Containments][1]
formfactor=2
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
viewType=1
screensGroup=0

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
animationLauncherBouncing=false
animationWindowInAttention=false
animationWindowAddedInGroup=false

[Containments][1][General]
alignment=10
alignmentUpgraded=true
zoomLevel=0
useThemePanel=true
panelSize=100

[LayoutSettings]
version=2
