[Containments][1]
formfactor=2
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
viewType=0

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true

[Containments][1][General]
alignment=0
alignmentUpgraded=true
zoomLevel=16

[LayoutSettings]
version=2
